// Définition des typographies
$font-family-primary: "Open Sans", sans-serif;
$font-family-secondary: "Sonsie One", cursive;

// Définition des couleurs
$color-primary: #ff95f8;
$color-white: white;
$color-black: #333333;
$color-grey: rgba(0, 0, 0, 0.25);

// Définition des variables du layout
$boxed-width: 1024px;
$boxed-width-responsive: 100vw;

// Définition des variables diverses
$transition-default: 0.3s ease-in-out;